body {
  font-family: Arial;
  text-align: center;
  direction: rtl;
}

.hidden {
  display: none;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: lightgray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.enemy {
  background: #ddd;
}

.dead {
  visibility: hidden;
}
